  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
      
        <ngb-tabset class="tab-solid tab-solid-primary">
          <ngb-tab title="Liste des statuts">
            <ng-template ngbTabContent>
              <div class="card">
      <div class="card-body">
        <button type="button" (click)="open(ajouterStatut)" class="btn btn-link btn-fw">Ajouter un statut</button>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                
                <th>
                  Statut
                </th>
                <th>
                 Description
                </th>
                <th>
                 Action
                </th>
              
              </tr>
            </thead>
            <tbody>
              <tr>
             
                <td>
            
                </td>
                <td>
                 
                </td>
                
                <td>
                 
                   <div aria-label="Basic example" class="btn-group" role="group">
                         
                            <button class="btn btn-danger icon-btn" type="button" (click)="open(supprimer)"><i
                                class="fa fa-trash"></i></button>
                            <button class="btn btn-warning icon-btn" type="button" (click)="open(ajouterStatut)" ><i
                                class="mdi mdi-border-color"></i></button>
                          </div>
               
                

                </td>
              </tr>
              
              
           
             
            </tbody>
          </table>
        </div>


       
      </div>
    </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Liste des comptences">
            <ng-template ngbTabContent>
              
<div class="card">
      <div class="card-body">
      
         <button type="button" class="btn btn-link btn-fw" (click)="open(competence)">Ajouter une competence</button>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Competence
                </th>
                <th>
                  Description
                </th>
                <th>
                  Action
                </th>
             
              </tr>
            </thead>
            <tbody>
              <tr>
               
                <td>
            
                </td>

                <td>
                 
                </td>

               
                <td>
                 
                <div aria-label="Basic example" class="btn-group" role="group">
                         
                            <button class="btn btn-danger icon-btn" type="button" (click)="open(supprimer)"><i
                                class="fa fa-trash"></i></button>
                            <button class="btn btn-warning icon-btn" type="button" (click)="open(competence)" ><i
                                class="mdi mdi-border-color"></i></button>
                          </div>
               
                
               
                

                </td>
              </tr>
              
              
           
             
            </tbody>
          </table>
        </div>
      </div>
    </div>



              
            </ng-template>
          </ngb-tab>



<ngb-tab title="Liste des niveaux d'études">
            <ng-template ngbTabContent>
              
<div class="card">
      <div class="card-body">
         <button type="button" class="btn btn-link btn-fw" (click)="open(etude)">Ajouter un niveau d'études</button>
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Niveau d'etude
                </th>
                <th>
                  Description
                </th>
                <th>
                  Action
                </th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
               
                <td>
            
                </td>

                <td>
                 
                </td>
                
                <td>
                 
                <div aria-label="Basic example" class="btn-group" role="group">
                         
                            <button class="btn btn-danger icon-btn" type="button" (click)="open(supprimer)"><i
                                class="fa fa-trash"></i></button>
                            <button class="btn btn-warning icon-btn" type="button" (click)="open(etude)" ><i
                                class="mdi mdi-border-color"></i></button>
                          </div>
               
                
               
                

                </td>
              </tr>
              
              
           
             
            </tbody>
          </table>
        </div>
      </div>
    </div>



              
            </ng-template>
          </ngb-tab>











<ngb-tab title="Liste des langues">
            <ng-template ngbTabContent>
              
<div class="card">
      <div class="card-body">
      <button type="button" class="btn btn-link btn-fw" (click)="open(langue)" >Ajouter une langue</button>
        
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Langue
                </th>
                <th>
                  Description
                </th>
                <th>
                  Action
                </th>
              
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>
            
                </td>
                <td>
                 
                </td>
                
                <td>
                 
                  <div aria-label="Basic example" class="btn-group" role="group">
                         
                            <button class="btn btn-danger icon-btn" type="button" (click)="open(supprimer)"><i
                                class="fa fa-trash"></i></button>
                            <button class="btn btn-warning icon-btn" type="button" (click)="open(langue)" ><i
                                class="mdi mdi-border-color"></i></button>
                          </div>
               
                
               
                

                </td>
              </tr>
              
              
           
             
            </tbody>
          </table>
        </div>
      </div>
    </div>



              
            </ng-template>
          </ngb-tab>










          
        </ngb-tabset>
      </div>
    </div>
  </div>
  


  <ng-template #ajouterStatut let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Information de statut</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
                <label for="exampleInputEmail1">Statut</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nom statut">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control" id="exampleInputPassword1" rows="2"  placeholder="Description"></textarea>
              </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>




  <ng-template #competence let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Information de statut</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
                <label for="exampleInputEmail1">Competence</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Competence">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control" id="exampleInputPassword1" rows="2"  placeholder="Description"></textarea>
              </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>





 <ng-template #etude let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Information de statut</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
                <label for="exampleInputEmail1">Niveau d'études</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Niveau d'études">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control" id="exampleInputPassword1" rows="2"  placeholder="Description"></textarea>
              </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>



<ng-template #langue let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter une langue</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
                <label for="exampleInputEmail1">Langue</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Langue">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control" id="exampleInputPassword1" rows="2"  placeholder="Description"></textarea>
              </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>


<ng-template #supprimer let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Supprimer </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            
            <h4 class="text-warning">Voulez-vous vraiment supprimer ?</h4>
            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fermer</button>
        <button type="submit" [disabled]="loading" class="btn btn-outline-warning">Supprimer</button>
      </div>
    </ng-template>