<div class="row">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card" >
    <div class="card card-statistics" routerLink="/CvForm">
      <div class="card-body">
        <div class="clearfix" >
          <div class="float-left">
            <i class="fa fa fa-id-card text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Remplir formulaire du CV</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">24 CV</h3>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics" routerLink="/planification">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-calendar text-warning icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Planification</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">3 Planifié(s)</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Des entretiens en attente de planifications
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics"  routerLink="/progEntretien">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="mdi mdi-notification-clear-all text-success icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Program des entreitens</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">2 Entretien(s)</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Des entretiens en attente de votre reponce
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
    <div class="card card-statistics"  routerLink="/config">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-cogs text-info icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Configuration général</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0"></h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
    

    <div class="col-lg-7 grid-margin stretch-card">
        <div class="card card-statistics" >
            <div class="card-body">
              <div>
                <div style="display: block">
                  <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                </div>                
              </div>
            </div>
          </div>   
    </div>

    <div class="col-lg-5 grid-margin stretch-card">
        <div class="card card-statistics" >
            <div class="card-body">
              <div style="display: block">
                <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>
          </div>          
    </div>
 
  </div>
